@use 'function' as f;
.header{

    nav{
        padding: 24px;
    }

    &__logo{

    }

    &__hamburger{
        
        > span{
            display: block;
            width:26px;
            height: 2px;
            background-color: darkblue;

            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }

    &__links{

        a{
            font-size: f.rem(14);
            color: $Grayish_Blue;
        }
    }

    &__cta{
        font-size: f.rem(14);
        color: $White;
    }

}

